*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

ul { list-style: none; }
a{ text-decoration: none;}

.logo:hover,
a:hover,
i:hover,
input:hover,
iframe:hover,
input:focus{
  cursor: url('./img/cursor.cur'),auto;
}

.l-heading{
  font-size: 4rem;
  color: rgb(24, 218, 244);
}

.m-heading{
  font-size: 2rem;
}

.text-primary{
  color:rgb(208, 75, 229);
}

.lead{
  font-size: 1.2rem;
  margin: 1rem 0;
}

.btn{
  color: #fff;
  background: rgb(86, 42, 93);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  margin: 1rem;
}

.btn:hover{
  opacity: 0.8;
}

.bg-light{
  background: #f4f4f4;
  color: #333;
}

.bg-dark{
  background: #333;
  color: #fff;
}

.text-center{text-align: center;}
.py-1{ padding: 1rem 0;}
.p-1{ padding: 1.5rem;} 


#navbar{
  display: flex;
  color: #fff;
  background: rgba(4, 4, 4, 0.8);
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: -4.22rem;

  position: sticky;
  top: 0;
}

#navbar ul{
  display: flex;
  align-items: center;
}

#navbar ul li a{
  color: rgb(24, 218, 244);
  padding: 1rem;
  margin: 0 0.5rem;
  font-weight: bold;
}

#navbar ul li a:hover{
  background:rgb(6, 143, 51);
  color: #fff;
  border-radius: 10px;
}


#navbar .logo{
  word-spacing: 3px;
  letter-spacing: 2px;
  font-family: "Sofia", sans-serif;
}

.y{color:rgb(255, 81, 0);}
.t{color: rgb(168, 238, 6);}
.y:hover,.t:hover{ color:rgb(247, 249, 245)}

#showcase{
  background: #444 url('./img/background.jpg') no-repeat center center/cover;
  height: 100vh;
  
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #f4f4f4;
  padding: 0 2rem;

  background-color: rgba(0,0,0,0.4);
}

#what .container{
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

#what .container .items{
  display: flex;
}
#what .container .items .item{
  text-align: center;
  padding: 1rem;
}

#what .container .items i{
  background: rgb(44, 134, 44);
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

#what .container .items i:hover{
  background:rgb(255, 81, 0);
}

#who{
  display: flex;
}

#who .who-img{
  background: url('./img/people.jpg') no-repeat center center/cover;
}

#who .who-img,
#who .who-content{
  flex:1;
}

#who .who-content ul{
  margin: 0.5rem 0;
  line-height: 2.4;
}

#who .who-content ul li{
  border-bottom: 1px dotted #444;
}

#contact{
  display: flex;
}

#contact .contact-form,
#contact iframe{
  flex: 1;
}

#contact .contact-form{
  background: rgb(30, 29, 41);
  color: #fff;
  line-height: 1.7;
}

#contact .contact-form label{
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea{
  width: 100%;
  padding: 0.5rem;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus{
  outline: none;
  color:rgb(86, 42, 93);
}

#contact .contact-form .form-group{
  margin: 0.7rem 0;
}

#contact .contact-form .btn{
  margin: 0;
}

#main-footer{
  background: #333;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}