#what .items .item{
  display: flex;
}

#what .items .item .item-content{
  text-align: left;
}

#what .items .item i{
  align-self: center;
  margin-bottom: 0;
  margin-right: 1.8rem;
}

#contact iframe{
  flex: 2;
}


